{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-10">
            <h2 class="featurette-heading" style="padding-bottom:30px">Edit Projects/Rooms</h2>
          </div>
        </div>


        <div id="projects" class="container">
          <div class="row">
            <div class="col md-12">
              <div class="jumbotron p-3">
                <h2><b> Open VI Rooms </b>
                </h2>

                <table class="table table-hover table-striped">
                  <tr>
                    <th>ID</th>
                    <th>Projects</th>
                    <th>Room</th>
                    <th>VI required</th>
                    <th>Progress [%]</th>
                    <th>Author</th>
                    <th>Action</th>
                  </tr>

                  {% for row in myprojects_open %}
                  <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.project}}</td>
                    <td>{{row.room}}</td>
                    <td>{{row.vi_req}}</td>
                    <td>{{row.progress}}</td>
                    <td>{{row.name}} from {{row.afilliation}}</td>
                    <td>

                      <a href="{{url_for('delete_admin', room_id=row.id, email=row.email)}}"
                                     class="btn btn-danger btn-xs"
                                     onclick="return confirm('Are You Sure To Delete {{ row.room }} from project {{ row.project }}? All VI work will be lost.')">Delete</a>
                      <a href="{{ url_for('edit_room', room_id=row.id)}}" class="btn btn-success btn-xs" >Edit</a>


                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>


        <div class="container">
          <div class="row">
            <div class="col md-12">
              <div class="jumbotron p-3">
                <h2><b> Non VI Rooms </b>
                </h2>

                <table class="table table-hover table-striped">
                  <tr>
                    <th>ID</th>
                    <th>Projects</th>
                    <th>Room</th>
                    <th>Author</th>
                    <th>Action</th>
                  </tr>

                  {% for row in myprojects_nonVI %}
                  <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.project}}</td>
                    <td>{{row.room}}</td>
                    <td>{{row.name}} from {{row.afilliation}}</td>
                    <td>
                      <a href="{{ url_for('viewer', room_id=row.id, entry_id=999, batchID=0 ) }}" class="btn btn-primary">See galleries!</a>
                      <a href="{{url_for('delete_admin', room_id=row.id, email=row.email)}}"
                                     class="btn btn-danger btn-xs"
                                     onclick="return confirm('Are You Sure To Delete {{ row.room }} from project {{ row.project }}? All VI work will be lost.')">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>


        <div class="container">
          <div class="row">
            <div class="col md-12">
              <div class="jumbotron p-3">
                <h2><b> Closed VI Rooms </b>
                </h2>

                <table class="table table-hover table-striped">
                  <tr>
                    <th>ID</th>
                    <th>Projects</th>
                    <th>Room</th>
                    <th>VI required</th>
                    <th>Progress [%]</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>

                  {% for row in myprojects_closed %}
                  <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.project}}</td>
                    <td>{{row.room}}</td>
                    <td>{{row.vi_req}}</td>
                    <td>{{row.progress}}</td>
                    <td>{{row.name}} from {{row.afilliation}}</td>
                    <td>{{row.status}}</td>
                    <td>
                      <a href="{{ url_for('download_file', room_id=row.id) }}" class="btn btn-warning btn-xs">Download</a>
                      <a href="{{ url_for('viewer', room_id=row.id, entry_id=999, batchID=0) }}"  class="btn btn-primary">See galleries</a>
                      <a href="{{url_for('delete_admin', room_id=row.id, email=row.email)}}"
                                     class="btn btn-danger btn-xs"
                                     onclick="return confirm('Are You Sure To Delete {{ row.room }} from project {{ row.project }}? All VI work will be lost.')">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
{% endblock %}
