{% extends "base.html" %}
{% block title %}New project setup{% endblock %}
{% block content %}

    <div class="container marketing" style="padding-top:50px" >
        <h1>Project Setup</h1>



        <form style="padding-top:50px" action="{{url_for('new_projects')}}" method="post" enctype="multipart/form-data">

            <h3>Tell us who you are</h3>
            <h6>This information is only to keep track of everyones projects. You can delete your projects latter, and with it, your data.</h6>
            &nbsp;

            <div class="form-group row">
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="First and Last Name" value="{{ request.form['name'] }}"  required>
                </div>
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="afilliation" name="afilliation" placeholder="Afilliation" value="{{ request.form['afilliation'] }}" required>
                </div>
                <div class="col-md-4 mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Academic email"  value="{{ request.form['email'] }}" required>
                </div>
            </div>

            <h3>Project details</h3>
            <h6>A project can be divided into various visual inspections (VI) scenariis that we call <b>ROOMS</b>. Each room has it's own file and its own set of parameters.</h6>
            &nbsp;

            <div class="form-group row">
                <div class="col-md-6 mb-3">
                    <input type="text" class="form-control" id="project" name="project" placeholder="Project Title" value="{{ request.form['project'] }}" required>
                </div>
                <div class="col-md-6 mb-3">
                    <textarea class="form-control" id="project_description" name="project_description" rows="2" maxlength="500" placeholder="Description of project. e.g. 'Sets of galleries show BGS targets at different magnitude and colour ranges.' (Optional)">{{ request.form['project_description'] }}</textarea>
                </div>
            </div>

            <h3>Room</h3>
            <h6>Create your first Room. You can add rooms to this project (or any other project you create) latter on.</h6>
            &nbsp;

            <div class="form-group row">

                <div class="col-md-6 mb-3">
                    <input type="text" class="form-control" id="room" name="room"
                           placeholder="Room Name" value="{{ request.form['room'] }}" required>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="custom-file">

                        <input type="file" class="file-input" id="file" name="file" value="{{ request.files['file'] }}">
                        <label class="file-label" for="file" id="file_label">Choose file...</label>
                    </div>

                </div>
                <div class="col-md-2 mb-3">
                        <button name="submit_file" value="submit" class="btn btn-secondary" type="submit">Upload</button>
                </div>
            </div>

            <div class="form-group row">

                <div class="col-md-3 mb-3">
                    <div class="input-group is-invalid">
                        <div class="input-group-prepend">
                            <label class="input-group-text">RA</label>
                        </div>

                        {% if disabled %}
                            <select class="custom-select" name="RA" id="RA" required disabled>
                        {% else %}
                            <select class="custom-select" name="RA" id="RA" required>
                        {% endif %}
                                <option value="">Choose...</option>
                                {% for opts in file_info.get('file_cols')%}
                                    <option value={{ opts }}>{{ opts }}</option>
                                {% endfor%}
                            </select>
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <div class="input-group is-invalid">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="DEC">DEC</label>
                        </div>
                        {% if disabled %}
                            <select class="custom-select" name="DEC" id="DEC" required disabled>
                        {% else %}
                            <select class="custom-select" name="DEC" id="DEC" required>
                        {% endif %}
                                <option value="">Choose...</option>
                                {% for opts in file_info.get('file_cols')%}
                                    <option value={{ opts }}>{{ opts }}</option>
                                {% endfor%}
                            </select>
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <div class="input-group is-invalid">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="centres">Centres</label>
                        </div>
                        {% if disabled %}
                            <select class="custom-select" name="centres" id="centres" required disabled>
                        {% else %}
                            <select class="custom-select" name="centres" id="centres" required>
                        {% endif %}
                                <option value="">Choose...</option>
                                <option value="ALL">--ALL--</option>
                                {% for opts in file_info.get('file_cols')%}
                                    <option value={{ opts }}>{{ opts }}</option>
                                {% endfor%}
                            </select>
                    </div>
                    <p class="text-muted">If --ALL--, all objects in file will be used.</p>
                </div>

                <div class="col-md-3 mb-3">
                    <div class="input-group is-invalid">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="centres">Layers</label>
                        </div>
                        {% if disabled %}
                        <select name="layers" id="layers" multiple="multiple" required disabled>
                        {% else %}
                        <select name="layers" id="layers" multiple="multiple" required>
                        {% endif %}
                            <option value="dr8-north">dr8-north</option>
                            <option value="dr8-south">dr8-south</option>
                            <option value="dr9k-north">dr9k-north</option>
                            <option value="dr9k-south">dr9k-south</option>
                            <option value="dr9m-north">dr9m-north</option>
                            <option value="dr9m-south">dr9m-south</option>
                            <option value="dr9-north">dr9-north</option>
                            <option value="dr9-south">dr9-south</option>
                        </select>
                    </div>
                </div>

            </div>

            <h5>Optionals</h5>
            &nbsp;


            <div class="form-group row">

                <div class="col-md-4 mb-3">
                    <label>Target labels:</label>
                    <div class="form-group multiple-form-group input-group" id="tab_logic">
                        <div class="input-group-btn input-group-select">
                            {% if disabled %}
                            <select class="custom-select" name="label_col" id="labels" disabled>
                                {% else %}
                                <select class="custom-select" name="label_col">
                                    {% endif %}
                                    <option value=None>---</option>
                                    {% for opts in file_info.get('file_cols')%}
                                    <option value={{ opts }}>{{ opts }}</option>
                                    {% endfor%}
                                </select>

                        </div>
                        {% if disabled %}
                        <input type="text" name="label_name" class="form-control" disabled>
                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-success btn-add" disabled>+</button>
                                {% else %}
                                    <input type="text" name="label_name" class="form-control" placeholder="label title">
                                        <span class="input-group-btn">
                                    <button type="button" id="add_field" class="btn btn-success btn-add">+</button>
                                {% endif %}
                        </span>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label>Target info:</label>
                    <div class="form-group multiple-form-group input-group">
                        <div class="input-group-btn input-group-select">
                            {% if disabled %}
                            <select class="custom-select" name="info_col" id="infos"  disabled>
                                {% else %}
                                <select class="custom-select" name="info_col" id="infos">
                                    {% endif %}
                                    <option value=None>---</option>
                                    {% for opts in file_info.get('file_cols')%}
                                    <option value={{ opts }}>{{ opts }}</option>
                                    {% endfor%}
                                </select>
                        </div>
                        {% if disabled %}
                            <input type="text" name="info_name" class="form-control" disabled>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success btn-add" disabled>+</button>
                            </span>
                        {% else %}
                            <input type="text" name="info_name" class="form-control" placeholder="label">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success btn-add">+</button>
                            </span>
                        {% endif %}

                    </div>
                    <p class="text-muted">RA and DEC are added by default.</p>
                </div>


                <div class="col-md-4 mb-3">
                    <label>VI labels:</label>
                    <div class="form-group multiple-form-group input-group">
<!--                        <div class="input-group-btn input-group-select">-->
<!--                            {% if disabled %}-->
<!--                            <select class="custom-select" id="VIlabels" required disabled>-->
<!--                                {% else %}-->
<!--                                <select class="custom-select" id="VIlabels" required>-->
<!--                                    {% endif %}-->
<!--                                    <option value="">NONE</option>-->
<!--                                    {% for opts in file_info.get('file_cols')%}-->
<!--                                    <option value="1">{{ opts }}</option>-->
<!--                                    {% endfor%}-->
<!--                                </select>-->
<!--                        </div>-->
                        {% if disabled %}
                            <input type="text" name="VIlabels" class="form-control" disabled>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success btn-add" disabled>+</button>
                            </span>
                        {% else %}
                            <input type="text" name="VIlabels" class="form-control" placeholder="VI label" maxlength="4">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success btn-add">+</button>
                            </span>
                        {% endif %}

                    </div>
                </div>

            </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">x</span>
                </button>
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="form-group row">

                <div class="col-md-4 mb-3">
                    <label>VI Request Objects:</label>
                    <div class="form-group multiple-form-group input-group">
                        <div class="input-group-btn input-group-select">
                            <label class="input-group-text" id="VIrequest_value"></label>
                        </div>
                        <div class="slidecontainer">
                            {% if disabled %}
                            <input type="range" min="10" max="1000" value="100" step="10" class="slider" name="VIrequest" id="VIrequest" disabled>
                            {% else %}
                            <input type="range" min="10" max="1000" value="100" step="10" class="slider" name="VIrequest" id="VIrequest">
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label>Batch Size:</label>
                    <div class="form-group multiple-form-group input-group">
                        <div class="inaput-group-btn input-group-select">
                            <label class="input-group-text" id="BatchSize_value"></label>
                        </div>
                        <div class="slidecontainer">
                            {% if disabled %}
                            <input type="range" min="10" max="1000" value="100" step="10" class="slider" name="BatchSize" id="BatchSize" disabled>
                            {% else %}
                            <input type="range" min="20" max="80" value="50" step="5" class="slider" name="BatchSize" id="BatchSize">
                            {% endif %}
                        </div>
                    </div>
                </div>

<!--                <div class="col-md-4 mb-3">-->
<!--                    <label>N Cols:</label>-->
<!--                    <div class="form-group multiple-form-group input-group">-->
<!--                        <div class="input-group-btn input-group-select">-->
<!--                            <label class="input-group-text" id="Ncols_value"></label>-->
<!--                        </div>-->
<!--                        <div class="slidecontainer">-->
<!--                            {% if disabled %}-->
<!--                            <input type="range" min="10" max="1000" value="100" step="10" class="slider" name="Ncols" id="Ncols" disabled>-->
<!--                            {% else %}-->
<!--                            <input type="range" min="1" max="10" value="5" step="1" class="slider" name="Ncols" id="Ncols">-->
<!--                            {% endif %}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="col-md-4 mb-3">
                    <label>Box Size (arcsec):</label>
                    <div class="form-group multiple-form-group input-group">
                        <div class="input-group-btn input-group-select">
                            <label class="input-group-text" id="BoxSize_value"></label>
                        </div>
                        <div class="slidecontainer">
                            {% if disabled %}
                            <input type="range" min="10" max="1000" value="100" step="10" class="slider" name="BoxSize" id="BoxSize" disabled>
                            {% else %}
                            <input type="range" min="10" max="100" value="20" step="5" class="slider" name="BoxSize" id="BoxSize">
                            {% endif %}
                        </div>
                    </div>
                </div>


            </div>


            <!--      SUBMIT button      -->
            <div class="col-md-4">
                <button type="submit" id="btnFetch" name="make_gall" value="continue" class="btn btn-primary">Create galleries</button>
            </div>
        </form>

    </div>



{% endblock %}

{% block scripts %}

<script>
var slider1 = document.getElementById("VIrequest");
var output1 = document.getElementById("VIrequest_value");
output1.innerHTML = slider1.value;

slider1.oninput = function() {
  output1.innerHTML = this.value;
}
</script>

<script>
var slider2 = document.getElementById("BatchSize");
var output2 = document.getElementById("BatchSize_value");
output2.innerHTML = slider2.value;

slider2.oninput = function() {
  output2.innerHTML = this.value;
}
</script>

<script>
var slider3 = document.getElementById("Ncols");
var output3 = document.getElementById("Ncols_value");
output3.innerHTML = slider3.value;

slider3.oninput = function() {
  output3.innerHTML = this.value;
}
</script>

<script>
var slider4 = document.getElementById("BoxSize");
var output4 = document.getElementById("BoxSize_value");
output4.innerHTML = slider4.value;

slider4.oninput = function() {
  output4.innerHTML = this.value;
}
</script>

<script>
    function filesize(elem){

        console.log(elem)
        document.cokie = `filesize=${elem.files[0].size}`;

    }
</script>

{% endblock %}

