{% extends "base.html" %}
{% block title %}title{% endblock %}
{% block content %}

      <div class="container marketing" style="padding-top:50px">

        <div class="row featurette">
          <div class="col-md-7">
            <h1>projects/rooms status </h1>
              <h3><b>{{ name }}</b></h3>
            <p class="lead">{{ text }}</p>
          </div>
        </div>

        <div class="container">
          <div class="row">
              <div class="col md-12">
                  <div class="jumbotron p-3">
                      <h2><b> My Open VI Rooms </b>
<!--                          <button type="button" class="btn btn-success float-right"-->
<!--                                  data-toggle="modal" data-target="#mymodal">Add New Room-->
<!--                          </button>-->
                      </h2>

                      {% with messages = get_flashed_messages() %}
                      {% if messages %}

                      {% for message in messages %}
                      <div class="alert alert-success alert-dismissable" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="close">
                              <span aria-hidden="true">x</span>
                          </button>
                          {{message}}
                      </div>
                      {% endfor %}

                      {% endif %}
                      {% endwith %}

                      <table class="table table-hover table-striped">
                          <tr>
                              <td>Add Room</td>
                              <th>ID</th>
                              <th>Projects</th>
                              <th>Room</th>
                              <th>Progress [%]</th>
                              <th>status</th>
                              <th>Action</th>
                          </tr>

                          {% for row in myprojects_open %}
                          <tr>
                              <td><a href="{{url_for('new_projects', id=row.id)}}"><button type="button" id="add_room" class="btn btn-success">+</button></a></td>
                              <td>{{row.id}}</td>
                              <td>{{row.project}}</td>
                              <td>{{row.room}}</td>
                              <td>{{row.progress}}</td>
                              <td>{{row.status}}</td>
                              <td>
                                  <a href="{{ url_for('download_file', room_id=row.id) }}" class="btn btn-warning btn-xs">Download</a>
                                  <a href="{{url_for('delete', room_id=row.id, email=row.email)}}"
                                     class="btn btn-danger btn-xs"
                                     onclick="return confirm('Are You Sure To Delete {{ row.room }} from project {{ row.project }}? All VI work will be lost.')">Delete</a>
                                  <a href="{{url_for('closed_open', room_id=row.id, action='closed', email=row.email)}}"
                                     class="btn btn-secondary">Close</a>
                              </td>
                          </tr>
                          {% endfor %}
                      </table>
                  </div>
              </div>
          </div>
        </div>


        <div class="container">
          <div class="row">
              <div class="col md-12">
                  <div class="jumbotron p-3">
                      <h2><b> VI Rooms joined </b></h2>

                      <table class="table table-hover table-striped">
                          <tr>
                              <th>ID</th>
                              <th>Projects</th>
                              <th>Room</th>
                              <th>BatchID</th>
                              <th>Progress [%]</th>
                              <th>Status</th>
                              <th>Action</th>
                          </tr>

                          {% for row in rooms %}
                          <tr>
                              <td>{{row.id}}</td>
                              <td>{{row.project}}</td>
                              <td>{{row.room}}</td>
                              <td>{{row.batch}}</td>
                              <td>{{row.progress}}</td>
                              <td>{{row.status}}</td>
                              <td>
                                  <a href="{{ url_for('viewer', room_id=row.room_id, entry_id=row.id, batchID=row.batch ) }}"
                                     class="btn btn-primary" >Continue</a>

                                  <a> | </a>

                                  <a href="{{url_for('delete_batch', id=row.id, email=row.email)}}"
                                     class="btn btn-danger btn-xs"
                                     onclick="return confirm('Are You Sure To Delete BATCH {{ row.batch }} from Room {{ row.room }}? All VI work will be lost.')">Delete</a>

                              </td>
                          </tr>
                          {% endfor %}
                      </table>
                  </div>
              </div>
          </div>
        </div>


        <div class="container">
          <div class="row">
              <div class="col md-12">
                  <div class="jumbotron p-3">
                      <h2><b> My Non VI Rooms </b></h2>

                      {% with messages = get_flashed_messages() %}
                      {% if messages %}

                      {% for message in messages %}
                      <div class="alert alert-success alert-dismissable" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="close">
                              <span aria-hidden="true">x</span>
                          </button>
                          {{message}}
                      </div>
                      {% endfor %}

                      {% endif %}
                      {% endwith %}

                      <table class="table table-hover table-striped">
                          <tr>
                              <td>Add Room</td>
                              <th>ID</th>
                              <th>Projects</th>
                              <th>Room</th>
                              <th>Action</th>
                          </tr>

                          {% for row in myprojects_nonVI %}
                          <tr>
                              <td><a href="{{url_for('new_projects', id=row.id)}}"><button type="button" id="add_room" class="btn btn-success">+</button></a></td>
                              <td>{{row.id}}</td>
                              <td>{{row.project}}</td>
                              <td>{{row.room}}</td>
                              <td>
                                  <a href="{{url_for('delete', room_id=row.id, email=row.email)}}"
                                     class="btn btn-danger btn-xs"
                                     onclick="return confirm('Are You Sure To Delete {{ row.room }} from project {{ row.project }}? All VI work will be lost.')">Delete</a>
                                  <a href="{{ url_for('viewer', room_id=row.id, entry_id=999, batchID=0 ) }}"
                                     class="btn btn-primary" >See galleries</a>
                              </td>
                          </tr>
                          {% endfor %}
                      </table>
                  </div>
              </div>
          </div>
        </div>



        <div class="container">
              <div class="row">
                  <div class="col md-12">
                      <div class="jumbotron p-3">
                          <h2><b> My Closed VI Rooms </b></h2>

                          {% with messages = get_flashed_messages() %}
                          {% if messages %}

                          {% for message in messages %}
                          <div class="alert alert-success alert-dismissable" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                  <span aria-hidden="true">x</span>
                              </button>
                              {{message}}
                          </div>
                          {% endfor %}

                          {% endif %}
                          {% endwith %}

                          <table class="table table-hover table-striped">
                              <tr>
                                  <th>ID</th>
                                  <th>Projects</th>
                                  <th>Room</th>
                                  <th>Progress [%]</th>
                                  <th>status</th>
                                  <th>Action</th>
                              </tr>

                             {% for row in myprojects_closed %}
                              <tr>
                                  <td>{{row.id}}</td>
                                  <td>{{row.project}}</td>
                                  <td>{{row.room}}</td>
                                  <td>{{row.progress}}</td>
                                  <td>{{row.status}}</td>
                                  <td>
                                      <a href="{{ url_for('download_file', room_id=row.id) }}" class="btn btn-warning btn-xs">Download</a>
                                      <a href="{{url_for('delete', room_id=row.id, email=row.email)}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete {{ row.room }} from project {{ row.project }}? All VI work will be lost.')">Delete</a>
                                      <a href="{{url_for('closed_open', room_id=row.id, action='open', email=row.email)}}" class="btn btn-secondary" >Open</a>
                                  </td>
                              </tr>
                              {% endfor %}
                          </table>
                      </div>
                  </div>
              </div>
        </div>

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
{% endblock %}
