{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block css %}
<!--    {% for i in js_resources %}-->
<!--      {{ i|indent(4)|safe }}-->
<!--    {% endfor %}-->
<!--    {% for i in css_resources %}-->
<!--      {{ i|indent(4)|safe }}-->
<!--    {% endfor %}-->
<!--    {% for i in plot_script %}-->
<!--      {{ i|indent(4)|safe }}-->
<!--    {% endfor %}-->
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script1|indent(4)|safe }}
{% endblock %}
{% block content %}
<!--  {% for i in plot_div %}-->
<!--    {{ i|indent(4)|safe }}-->
<!--  {% endfor %}-->
<div class="container-fluid h-100">
    <div class="row h-100">

        <div class="col-9">
            {{ plot_div1|indent(4)|safe }}
        </div>

    </div>
</div>
{% endblock %}
