{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div>
  <div class="container marketing" style="padding-top:50px" >
    <h1>Gallery room <b>{{req.get('room')}}</b></h1>
    <h3>Project <b>{{req.get('project')}}</b></h3>
    <h5>{{req.get('project_description')}}</h5>

    &nbsp;
    <h5>Total cutout images in batch: <b>{{ req.get('%s_%s' %(req.get('room'), current_batch))|length }}</b></h5>
    <h5>Box size (arcsec): <b>{{ req.get('BoxSize') }}</b></h5>

    <div class="row">

      <div>
        {% if (req.get('VI')) and ((pjs.status == 'open')) %}
          <a href="/current_rooms/{{user}}"><button class="btn btn-success btn-lg">My Open rooms</button></a>
          {% else %}
          <a href="/current_rooms/{{user}}"><button class="btn btn-success btn-lg" disabled>My Open rooms</button></a>
          &nbsp;
        {% endif %}
      </div>

    </div>

    &nbsp;
    &nbsp;

    <div class="row">

      <form action="{{ url_for('viewer', ProjectName=req.get('project'), RoomName=req.get('room'), user=user, batchID=current_batch) }}" method="post" enctype="multipart/form-data">
        {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-success alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">x</span>
          </button>
          {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% if (req.get('VI')) and ((pjs.status == 'open')) %}
        &nbsp;
        <button name="next" value="continue" class="btn btn-primary btn-lg">Next empty batch</button>
        {% else %}
        &nbsp;
        <a><button name="next" value="continue" class="btn btn-primary btn-lg" disabled>Next empty batch</button></a>
        {% endif %}
      </form>

    </div>

    <div class="row">
      {{ bokeh_script|safe }}
    </div>

    &nbsp;
    &nbsp;

    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        {% if (current_batch + 1) == 1 %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Previous</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('viewer', ProjectName=req.get('project'), RoomName=req.get('room'), user=user, batchID=current_batch-1) }}">Previous</a>
          </li>
        {% endif %}

        {% for batch in range(req.get('Nbatchs')) %}
          {% if batch == current_batch %}
            <li class="page-item active">
              <a class="page-link" href="{{ url_for('viewer', ProjectName=req.get('project'), RoomName=req.get('room'), user=user, batchID=batch) }}">{{ batch + 1}}<span class="sr-only">(current)</span></a>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('viewer', ProjectName=req.get('project'), RoomName=req.get('room'), user=user, batchID=batch) }}">{{ batch + 1}}</a></li>
          {% endif %}
        {% endfor %}

        {% if (current_batch + 1) == req.get('Nbatchs') %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('viewer', ProjectName=req.get('project'), RoomName=req.get('room'), user=user, batchID=current_batch+1) }}">Next</a>
          </li>
        {% endif %}

      </ul>
    </nav>

  </div>
</div>




{% endblock %}
